body {
    text-align: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #393E46;
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

.btn:hover {
    opacity: 0.7;
}

.scoreDisplay {
    margin-top: 20px;
    font-size: 22px;
}

#resultText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#playerMoveDisplay,
#computerMoveDisplay {
    font-size: 22px;
    margin-top: 20px;
}